@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 451px;
  min-width: 1660px;
  background-color: #4a7588;
  /* Бэк сделал под цвет картинки, банера */

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.header:after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
  height: 300px;
  
  border: 5px solid #23384e;
}

.top {
  
  z-index: 2;
  position: fixed;

  display: flex;

  align-items: center;
  
  padding: 25px 15px 0 15px;
  justify-content: space-between;
  
}

.logo {
  width: 179px;
  
 
}

.menu-list {
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  position: fixed;
  right: 0;
  
}

.menu-list-item {
  margin: auto 20px;
  list-style-type: none;
  
  
}

.title {
  width: 679px;
  text-align: center;
  margin: 125px auto 0;

  text-transform: uppercase;
  font-size: 45px;
  line-height: 74.97px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.chudik {
  min-height: 4550px;
  background-color: #4a7588;

  background-image: url("https://sun9-33.userapi.com/impg/hiN8M9MPM6aRTYAgkyA_mt7buQaPWFfIhwypyA/3Ts4KXawj3M.jpg?size=1620x2160&quality=95&sign=77502062902a8cd497abf04d3bbabfb2&type=album");
  background-size: contain;
}

.balbes {
  height: 14550px;
  width: 1660px;
  background-image: url("https://i.mycdn.me/i?r=AzEPZsRbOZEKgBhR0XGMT1RkyBqSD3uUXQqZY1HnjPUNYaaKTM5SRkZCeTgDn6uOyic");
  background-size: 100%;
}

h2 {
  width: 679px;
  text-align: center;
  margin: 125px auto 0;
color: pink;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 74.97px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 2;
  
} 
